/*=== Variables ===*/
:root {
  /*=== colors ===*/
  --background-violet: #7541c8;
  --background-grayish: #48556a;
  --background-blackish: #19212e;
  --Light-gray: #cfcfcf;
  --Light-blue: #ecf2f8;

  /*=== font ===*/
  --font: "Barlow Semi Condensed", sans-serif;
}
/*=== Global styles ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: var(--font);
  background-color: var(--Light-blue);
}

/*=== Styles ===*/
.container {
  display: grid;
  margin: 3.2rem 2.4rem;
  gap: 1.6rem;
}
.container__opinion {
  padding: 3.2rem;
  border-radius: 0.8rem;
}
.section__one {
  background-color: var(--background-violet);
}
.section__two {
  background-color: var(--background-grayish);
}
.section__three {
  background-color: #fff;
}
.section__four {
  background-color: var(--background-blackish);
}
.section__five {
  background-color: #fff;
}
.container__opinion-user {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.container__opinion-user img {
  width: 3.8rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.container__opinion-user .user__data h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.container__opinion-user .user__data .clear-title {
  color: var(--background-grayish);
}
.container__opinion-user .user__data small {
  font-size: 1.2rem;
  color: #fff;
  opacity: 0.5;
}
.container__opinion-text {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}
.container__opinion-quote {
  font-size: 1.6rem;
  color: #fff;
  opacity: 0.7;
}
.clear-text {
  color: var(--background-blackish);
}

footer {
  margin-top: 2rem;
  text-align: center;
}

/*=== Desktop Styles ===*/
@media (min-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr), 50px;
    align-content: center;
    max-width: 1380px;
    height: 100%;
    margin: 0 auto;
  }
  .section__one {
    grid-column: 1/3;
  }
  .section__five {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .section__four {
    grid-column: 2 / 4;
  }
  footer {
    grid-column: 1/5;
  }
}
